.animated-text {
    display: flex;
    flex-direction: column;
    font-family: monospace; /* Monospace font for hacker style */
  }
  
  .text {
    display: none; /* Start hidden */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides overflowing text */
    position: relative; /* Position relative to add the cursor */
    font-size: 16px; /* Adjust font size as needed */
  }
  
  .text::after {
    content: "|"; /* Cursor character */
    color: #00ff00; /* Hacker-style green color for the cursor */
    animation: blink-cursor 0.7s steps(1) infinite; /* Blinking cursor animation */
    display: inline; /* Align cursor with the text */
    margin-left: 5px; /* Space between text and cursor */
  }
  
  /* Keyframes for blinking cursor effect */
  @keyframes blink-cursor {
    0% {
      opacity: 1; /* Cursor visible */
    }
    50% {
      opacity: 0; /* Cursor disappears */
    }
    100% {
      opacity: 1; /* Cursor visible again */
    }
  }


  .custom-hover:hover {
    background-color: black;
    border-color: black;
}




.centered-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Increased height to give more space */
  background-color: #f4f4f4; /* Optional background */
  padding: 10px;
}

.image-container {
  max-width: 98%; /* Make the image container almost full width */
  max-height: 65vh; /* Increase the max-height to enlarge the image */
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ccc;
  margin: 5px; /* Reduced margin to maximize image size */
  border-radius: 8px; /* Optional: round the corners of the image */
}

